<div class="rounded light mb20">
	<div class="corners">
		<div class="tl"></div>
		<div class="tr"></div>
	</div>
	<div class="rounded_content p0">
		<div class="register_left pl10">
			<div class="rl_head">Lorem Ipsum</div>
			<p class="register_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
			<a class="rl_button" href="javascript://"></a>
		</div>
		<div class="register_right">
			<div class="rr_head">Lorem Ipsum</div>
			<p class="register_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
			<a class="rr_button" href="javascript://"></a>
		</div>
	</div>
	<div class="corners">
		<div class="bl"></div>
		<div class="br"></div>
	</div>
</div>
