<div class="hats">
	<div class="hat_i">Yšnetim Blog</div>
	<div class="hats_inside">
		<div class="text_head">Lorem Ipsum is simply dummy text</div>
		<p>Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</div>
</div>
<div class="hats">
	<div class="hat_ii">Yšnetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="hats">
	<div class="hat_iii">Yšnetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="hats">
	<div class="hat_iv">Yšnetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="rounded light mb20">
	<div class="corners">
		<div class="tl"></div>
		<div class="tr"></div>
	</div>
	<div class="rounded_content"></div>
	<div class="corners">
		<div class="bl"></div>
		<div class="br"></div>
	</div>
</div>