
<div class="hats">
	<div class="hat_i">Sen kimlerdensin?</div>
	<div class="hats_inside">
		<div class="text_head">Kimlerdensin?com</div>
		<p>Sorulara verdiğimiz yanıtlara göre,
		farklarımız ve benzerliklerimiz üzerinden yanyana geldiğimiz bir sosyal ağdır. 
		<br>
		Tüm üyeler, diğerleri hakkında merak ettikleri soruları sorabilir, diledikleri soruları cevaplandırabilirler.
		<br>
		Sitede, şimdiye kadar <strong>{{ user_count }} üye</strong>nin <strong>{{ question_count }} soru</strong>su, <strong>{{ answer_count }} yanıt</strong> aldı.</p>
	</div>
</div>
<div class="hats">
	<div class="hat_ii">Yonetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="hats">
	<div class="hat_iii">Yonetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="hats">
	<div class="hat_iv">Yonetim Blog</div>
	<div class="hats_inside"></div>
</div>
<div class="rounded light mb20">
	<div class="corners">
		<div class="tl"></div>
		<div class="tr"></div>
	</div>
	<div class="rounded_content"></div>
	<div class="corners">
		<div class="bl"></div>
		<div class="br"></div>
	</div>
</div>
</div>
