<div id="tabs">
		<ul>
			<li><a class="tab1" href="#tab-1">iﬂler</a></li>
			<li><a class="tab2" href="#tab-2">be€enilenler</a></li>
			<li><a class="tab3" href="#tab-3">gündem</a></li>
		</ul>
		<div class="rounded dark">
			<div class="corners">
				<div class="tr"></div>
			</div>
			<div class="rounded_content">
				<div class="rounded insidedark">
					<div class="corners">
						<div class="tl"></div>
						<div class="tr"></div>
					</div>
					<div class="rounded_content">
						<div id="tab-1">
							<div class="joblist">
								<ul class="list_dotted">
									<li>
										<div class="joblist_time">10 dakika önce</div>
										<div class="joblist_lang">ingilizce - frans›zca</div>
										<div class="joblist_inform">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div>
									</li>
									<li>
										<div class="joblist_time">10 dakika önce</div>
										<div class="joblist_lang">ingilizce - frans›zca</div>
										<div class="joblist_inform">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div>
									</li>
									<li>
										<div class="joblist_time">10 dakika önce</div>
										<div class="joblist_lang">ingilizce - frans›zca</div>
										<div class="joblist_inform">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div>
									</li>
									<li class="notdot">
										<div class="joblist_time">10 dakika önce</div>
										<div class="joblist_lang">ingilizce - frans›zca</div>
										<div class="joblist_inform">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</div>
									</li>
								</ul>
							</div>																				
						</div>
						<div id="tab-2">
							<div class="popusers">
								<ul class="list_dotted">
									<li>
										<div class="popusers_lside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
										<div class="popusers_rside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="popusers_lside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
										<div class="popusers_rside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="popusers_lside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
										<div class="popusers_rside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="popusers_lside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
										<div class="popusers_rside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
									</li>
									<li class="notdot">
										<div class="popusers_lside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
										<div class="popusers_rside">
											<div class="popuser_id">
												<div class="popuser_avatar"><img src="images/avatar.png" width="80" height="80" /></div>
												<div class="popuser_info">
													<div class="text_head">Cagri Biber</div>
													<div class="none">Lorem Ipsum is simply dummy </div>
													<div class="none">Text of the printing </div>
													<div class="none">Make a type </div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							</div>
						<div id="tab-3">3</div>
					</div>
					<div class="corners">
						<div class="bl"></div>
						<div class="br"></div>
					</div>
				</div>
			</div>
			<div class="corners">
				<div class="bl"></div>
				<div class="br"></div>
			</div>
		</div>
	</div>
				
</div>