<div id="tabs">
		<ul>
			<li><a class="tab1" href="#tab-1">En Son Sorular</a></li>
			<li><a class="tab2" href="#tab-2">En Son Cevaplar</a></li>
			<li><a class="tab3" href="#tab-3">Populer Sorular</a></li>
		</ul>
		<div class="rounded dark">
			<div class="corners">
				<div class="tr"></div>
			</div>
			<div class="rounded_content">
				<div class="rounded insidedark">
					<div class="corners">
						<div class="tl"></div>
						<div class="tr"></div>
					</div>
					<div class="rounded_content">
						<div id="tab-1">
							<div class="joblist">
								{% for question in questions %}
								<ul class="list_dotted">
									<li>
											<div class="joblist_time">
												<span id="q_{{ question.id }}_ans" >												
													{% if question.user_answer %}
														{% ifequal question.user_answer 1 %}
															evet
														{% else %}
															hayır
														{% endifequal %}
													{% endif %}
												</span>
											</div>
											<div class="joblist_lang" href="/uye/{{ question.user.username }}/">
												{% if not u %}
															{# not in a generic detail page #}
															{{ question.user.username }}</a> soruyor:													
												{% endif %}
											
											</div>
											<div class="joblist_inform">{{ question.question }} {{ question.verb.verb }}{% ifequal question.verb.type 1 %}lar{% else %}ler{% endifequal %}{% ifequal question.verb.type 1 %}dan mısın{% else %}den misin{% endifequal %}?
											</div>
										
	
									</li>
									
								</ul>
								{% endfor %}
							</div>																				
						</div>
						<div id="tab-2">
							<div class="joblist">
								{% for answer in answers %}				
								<ul class="list_dotted">
									<li>
											<div class="joblist_lang" href="{{ answer.get_absolute_url }}">
												{{ answer.user.username }}
											</div>										
											<div class="joblist_inform">
												{{ answer}}											
											</div>						
									</li>
									
								</ul>
								{% endfor %}
							</div>																				
						</div>
						
						
						<div id="tab-3">3</div>
					</div>
					<div class="corners">
						<div class="bl"></div>
						<div class="br"></div>
					</div>
				</div>
			</div>
			<div class="corners">
				<div class="bl"></div>
				<div class="br"></div>
			</div>
		</div>
	</div>
				
</div>